body{
    background-image: url(KSJD3-new.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container-fluid {
    position: relative;

    width: 100%;
    max-width: 1000px;
    min-height: 500px;
    background: antiquewhite;
    margin: 100px;
   
}
.jumbotron{
    background-color:azure;
}
.display-4{
    background-color: blanchedalmond;
}